In [1]:
import pandas as pd 
import numpy as np
import re

### Estimación de cobertura entre personas con VIH de ART (Anti Retro-viral Therapy - Terapia Anti Retro-viral)

In [2]:
cobertura_df = pd.read_csv('art_coverage_by_country_clean.csv')

In [3]:
cobertura_df.shape

(170, 11)

In [4]:
cobertura_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 170 entries, 0 to 169
Data columns (total 11 columns):
 #   Column                                                          Non-Null Count  Dtype
---  ------                                                          --------------  -----
 0   Country                                                         170 non-null    object
 1   Reported number of people receiving ART                         170 non-null    object
 2   Estimated number of people living with HIV                      170 non-null    object
 3   Estimated ART coverage among people living with HIV (%)         170 non-null    object
 4   Estimated number of people living with HIV_median               138 non-null    float64
 5   Estimated number of people living with HIV_min                  138 non-null    float64
 6   Estimated number of people living with HIV_max                  138 non-null    float64
 7   Estimated ART coverage among people living with HIV (%)_median  136 non-null    float64
 8   Estimated ART coverage among people living with HIV (%)_min     136 non-null    float64
 9   Estimated ART coverage among people living with HIV (%)_max     136 non-null    float64
 10  WHO Region                                                      170 non-null    object
dtypes: float64(6), object(5)
memory usage: 14.7+ KB

In [5]:
cobertura_df.head()

,Country,Reported number of people receiving ART,Estimated number of people living with HIV,Estimated ART coverage among people living with HIV (%),Estimated number of people living with HIV_median,Estimated number of people living with HIV_min,Estimated number of people living with HIV_max,Estimated ART coverage among people living with HIV (%)_median,Estimated ART coverage among people living with HIV (%)_min,Estimated ART coverage among people living with HIV (%)_max,WHO Region
0,Afghanistan,920,7200[4100–11000],13[7–20],7200.0,4100.0,11000.0,13.0,7.0,20.0,Eastern Mediterranean
1,Albania,580,Nodata,Nodata,NaN,NaN,NaN,NaN,NaN,NaN,Europe
2,Algeria,12800,16000[15000–17000],81[75–86],16000.0,15000.0,17000.0,81.0,75.0,86.0,Africa
3,Angola,88700,330000[290000–390000],27[23–31],330000.0,290000.0,390000.0,27.0,23.0,31.0,Africa
4,Argentina,85500,140000[130000–150000],61[55–67],140000.0,130000.0,150000.0,61.0,55.0,67.0,Americas

In [6]:
cobert_copy = cobertura_df.copy().replace('Nodata','NaN')
cobert_copy

,Country,Reported number of people receiving ART,Estimated number of people living with HIV,Estimated ART coverage among people living with HIV (%),Estimated number of people living with HIV_median,Estimated number of people living with HIV_min,Estimated number of people living with HIV_max,Estimated ART coverage among people living with HIV (%)_median,Estimated ART coverage among people living with HIV (%)_min,Estimated ART coverage among people living with HIV (%)_max,WHO Region
0,Afghanistan,920,7200[4100–11000],13[7–20],7200.0,4100.0,11000.0,13.0,7.0,20.0,Eastern Mediterranean
1,Albania,580,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Europe
2,Algeria,12800,16000[15000–17000],81[75–86],16000.0,15000.0,17000.0,81.0,75.0,86.0,Africa
3,Angola,88700,330000[290000–390000],27[23–31],330000.0,290000.0,390000.0,27.0,23.0,31.0,Africa
4,Argentina,85500,140000[130000–150000],61[55–67],140000.0,130000.0,150000.0,61.0,55.0,67.0,Americas
...,...,...,...,...,...,...,...,...,...,...,...
165,Venezuela (Bolivarian Republic of),NaN,120000[100000–130000],NaN,120000.0,100000.0,130000.0,NaN,NaN,NaN,Americas
166,Viet Nam,150000,230000[200000–260000],65[57–73],230000.0,200000.0,260000.0,65.0,57.0,73.0,Western Pacific
167,Yemen,2200,11000[6500–18000],21[12–35],11000.0,6500.0,18000.0,21.0,12.0,35.0,Eastern Mediterranean
168,Zambia,965000,1200000[1100000–1400000],78[69–88],1200000.0,1100000.0,1400000.0,78.0,69.0,88.0,Africa
169,Zimbabwe,1151000,1300000[1100000–1500000],88[77–95],1300000.0,1100000.0,1500000.0,88.0,77.0,95.0,Africa

In [7]:
cobert_copy = cobert_copy.dropna().reset_index(drop = True)
cobert_copy

,Country,Reported number of people receiving ART,Estimated number of people living with HIV,Estimated ART coverage among people living with HIV (%),Estimated number of people living with HIV_median,Estimated number of people living with HIV_min,Estimated number of people living with HIV_max,Estimated ART coverage among people living with HIV (%)_median,Estimated ART coverage among people living with HIV (%)_min,Estimated ART coverage among people living with HIV (%)_max,WHO Region
0,Afghanistan,920,7200[4100–11000],13[7–20],7200.0,4100.0,11000.0,13.0,7.0,20.0,Eastern Mediterranean
1,Algeria,12800,16000[15000–17000],81[75–86],16000.0,15000.0,17000.0,81.0,75.0,86.0,Africa
2,Angola,88700,330000[290000–390000],27[23–31],330000.0,290000.0,390000.0,27.0,23.0,31.0,Africa
3,Argentina,85500,140000[130000–150000],61[55–67],140000.0,130000.0,150000.0,61.0,55.0,67.0,Americas
4,Armenia,1900,3500[3000–4400],53[44–65],3500.0,3000.0,4400.0,53.0,44.0,65.0,Europe
...,...,...,...,...,...,...,...,...,...,...,...
131,Uzbekistan,26700,52000[48000–56000],51[47–55],52000.0,48000.0,56000.0,51.0,47.0,55.0,Europe
132,Viet Nam,150000,230000[200000–260000],65[57–73],230000.0,200000.0,260000.0,65.0,57.0,73.0,Western Pacific
133,Yemen,2200,11000[6500–18000],21[12–35],11000.0,6500.0,18000.0,21.0,12.0,35.0,Eastern Mediterranean
134,Zambia,965000,1200000[1100000–1400000],78[69–88],1200000.0,1100000.0,1400000.0,78.0,69.0,88.0,Africa
135,Zimbabwe,1151000,1300000[1100000–1500000],88[77–95],1300000.0,1100000.0,1500000.0,88.0,77.0,95.0,Africa

In [8]:
cobert_copy.isna().sum()

Country                                                           0
Reported number of people receiving ART                           0
Estimated number of people living with HIV                        0
Estimated ART coverage among people living with HIV (%)           0
Estimated number of people living with HIV_median                 0
Estimated number of people living with HIV_min                    0
Estimated number of people living with HIV_max                    0
Estimated ART coverage among people living with HIV (%)_median    0
Estimated ART coverage among people living with HIV (%)_min       0
Estimated ART coverage among people living with HIV (%)_max       0
WHO Region                                                        0
dtype: int64

### Estimación de cobertura entre niños con VIH de ART (Terapia Anti Retro-viral)

In [9]:
pediatrico_df = pd.read_csv('art_pediatric_coverage_by_country_clean.csv')

In [10]:
pediatrico_df.shape

(170, 11)

In [11]:
pediatrico_df.head()

,Country,Reported number of children receiving ART,Estimated number of children needing ART based on WHO methods,Estimated ART coverage among children (%),Estimated number of children needing ART based on WHO methods_median,Estimated number of children needing ART based on WHO methods_min,Estimated number of children needing ART based on WHO methods_max,Estimated ART coverage among children (%)_median,Estimated ART coverage among children (%)_min,Estimated ART coverage among children (%)_max,WHO Region
0,Afghanistan,60,500[500-530],17[10-26],500.0,500.0,530.0,17.0,10.0,26.0,Eastern Mediterranean
1,Albania,20,Nodata,Nodata,NaN,NaN,NaN,NaN,NaN,NaN,Europe
2,Algeria,770,500[500-520],95[95-95],500.0,500.0,520.0,95.0,95.0,95.0,Africa
3,Angola,4800,38000[30000-47000],13[10-16],38000.0,30000.0,47000.0,13.0,10.0,16.0,Africa
4,Argentina,1700,1800[1600-2100],92[84-95],1800.0,1600.0,2100.0,92.0,84.0,95.0,Americas

In [12]:
pedia_copy = pediatrico_df.copy().dropna().reset_index(drop=True)
pedia_copy

,Country,Reported number of children receiving ART,Estimated number of children needing ART based on WHO methods,Estimated ART coverage among children (%),Estimated number of children needing ART based on WHO methods_median,Estimated number of children needing ART based on WHO methods_min,Estimated number of children needing ART based on WHO methods_max,Estimated ART coverage among children (%)_median,Estimated ART coverage among children (%)_min,Estimated ART coverage among children (%)_max,WHO Region
0,Afghanistan,60,500[500-530],17[10-26],500.0,500.0,530.0,17.0,10.0,26.0,Eastern Mediterranean
1,Algeria,770,500[500-520],95[95-95],500.0,500.0,520.0,95.0,95.0,95.0,Africa
2,Angola,4800,38000[30000-47000],13[10-16],38000.0,30000.0,47000.0,13.0,10.0,16.0,Africa
3,Argentina,1700,1800[1600-2100],92[84-95],1800.0,1600.0,2100.0,92.0,84.0,95.0,Americas
4,Bahamas,40,200[200-500],21[18-26],200.0,200.0,500.0,21.0,18.0,26.0,Americas
...,...,...,...,...,...,...,...,...,...,...,...
88,Uzbekistan,5500,6000[5600-6300],93[87-95],6000.0,5600.0,6300.0,93.0,87.0,95.0,Europe
89,Viet Nam,4600,5000[4000-5900],92[74-95],5000.0,4000.0,5900.0,92.0,74.0,95.0,Western Pacific
90,Yemen,130,500[500-580],33[24-50],500.0,500.0,580.0,33.0,24.0,50.0,Eastern Mediterranean
91,Zambia,49 100,62000[52000-74000],79[65-93],62000.0,52000.0,74000.0,79.0,65.0,93.0,Africa
92,Zimbabwe,63 900,84000[65000-100000],76[59-93],84000.0,65000.0,100000.0,76.0,59.0,93.0,Africa

In [13]:
pedia_copy.isna().sum()

Country                                                                 0
Reported number of children receiving ART                               0
Estimated number of children needing ART based on WHO methods           0
Estimated ART coverage among children (%)                               0
Estimated number of children needing ART based on WHO methods_median    0
Estimated number of children needing ART based on WHO methods_min       0
Estimated number of children needing ART based on WHO methods_max       0
Estimated ART coverage among children (%)_median                        0
Estimated ART coverage among children (%)_min                           0
Estimated ART coverage among children (%)_max                           0
WHO Region                                                              0
dtype: int64

### Porcentaje de casos de Adultos con VIH por país (Edades entre 15 a 49 años en porcenaje)

In [14]:
casos_adultos_df = pd.read_csv('no_of_cases_adults_15_to_49_by_country_clean.csv')

In [15]:
casos_adultos_df.head()

,Country,Year,Count,Count_median,Count_min,Count_max,WHO Region
0,Afghanistan,2018,0.1[0.1–0.1],0.1,0.1,0.1,Eastern Mediterranean
1,Albania,2018,na,NaN,NaN,NaN,Europe
2,Algeria,2018,0.1[0.1–0.1],0.1,0.1,0.1,Africa
3,Angola,2018,2.0[1.7–2.3],2.0,1.7,2.3,Africa
4,Argentina,2018,0.4[0.4–0.4],0.4,0.4,0.4,Americas

In [16]:
casos_adultos_df.shape

(680, 7)

In [25]:
casos_adultos_df.isna().sum()

Country           0
Year              0
Count             0
Count_median    124
Count_min       124
Count_max       124
WHO Region        0
dtype: int64

In [30]:
casos_adultos_copy = casos_adultos_df.copy().dropna().reset_index(drop = True)
casos_adultos_copy

,Country,Year,Count,Count_median,Count_min,Count_max,WHO Region
0,Afghanistan,2018,0.1[0.1–0.1],0.1,0.1,0.1,Eastern Mediterranean
1,Algeria,2018,0.1[0.1–0.1],0.1,0.1,0.1,Africa
2,Angola,2018,2.0[1.7–2.3],2.0,1.7,2.3,Africa
3,Argentina,2018,0.4[0.4–0.4],0.4,0.4,0.4,Americas
4,Armenia,2018,0.2[0.1–0.2],0.2,0.1,0.2,Europe
...,...,...,...,...,...,...,...
551,Uzbekistan,2000,0.1[0.1–0.1],0.1,0.1,0.1,Europe
552,Viet Nam,2000,0.3[0.2–0.3],0.3,0.2,0.3,Western Pacific
553,Yemen,2000,0.1[0.1–0.1],0.1,0.1,0.1,Eastern Mediterranean
554,Zambia,2000,16.2[14.3–18.2],16.2,14.3,18.2,Africa
555,Zimbabwe,2000,25.0[21.2–28.3],25.0,21.2,28.3,Africa

### Número de muertes por VIH

In [18]:
muertes_df = pd.read_csv('no_of_deaths_by_country_clean.csv')

In [53]:
muertes_df.shape

(510, 7)

In [54]:
muertes_df

,Country,Year,Count,Count_median,Count_min,Count_max,WHO Region
0,Afghanistan,2018,500[200–610],500.0,200.0,610.0,Eastern Mediterranean
1,Albania,2018,na,NaN,NaN,NaN,Europe
2,Algeria,2018,200[200–200],200.0,200.0,200.0,Africa
3,Angola,2018,14000[9500–18000],14000.0,9500.0,18000.0,Africa
4,Argentina,2018,1700[1300–2100],1700.0,1300.0,2100.0,Americas
...,...,...,...,...,...,...,...
505,Venezuela (Bolivarian Republic of),2000,na,NaN,NaN,NaN,Americas
506,Viet Nam,2000,6100[4300–7800],6100.0,4300.0,7800.0,Western Pacific
507,Yemen,2000,100[100–200],100.0,100.0,200.0,Eastern Mediterranean
508,Zambia,2000,62000[49000–81000],62000.0,49000.0,81000.0,Africa
509,Zimbabwe,2000,120000[98000–150000],120000.0,98000.0,150000.0,Africa

In [55]:
muertes_df.isna().sum()

Country           0
Year              0
Count             0
Count_median    110
Count_min       110
Count_max       110
WHO Region        0
dtype: int64

In [56]:
muertes_copy = muertes_df.copy()

In [57]:
muertes_copy = muertes_copy.replace(['na','Nodata','No data'], 'NaN')

In [60]:
muertes_copy = muertes_copy.dropna().reset_index(drop=True)
muertes_copy.isna().sum()

Country         0
Year            0
Count           0
Count_median    0
Count_min       0
Count_max       0
WHO Region      0
dtype: int64

In [61]:
muertes_copy

,Country,Year,Count,Count_median,Count_min,Count_max,WHO Region
0,Afghanistan,2018,500[200–610],500.0,200.0,610.0,Eastern Mediterranean
1,Algeria,2018,200[200–200],200.0,200.0,200.0,Africa
2,Angola,2018,14000[9500–18000],14000.0,9500.0,18000.0,Africa
3,Argentina,2018,1700[1300–2100],1700.0,1300.0,2100.0,Americas
4,Armenia,2018,200[100–200],200.0,100.0,200.0,Europe
...,...,...,...,...,...,...,...
395,Uzbekistan,2000,840[740–920],840.0,740.0,920.0,Europe
396,Viet Nam,2000,6100[4300–7800],6100.0,4300.0,7800.0,Western Pacific
397,Yemen,2000,100[100–200],100.0,100.0,200.0,Eastern Mediterranean
398,Zambia,2000,62000[49000–81000],62000.0,49000.0,81000.0,Africa
399,Zimbabwe,2000,120000[98000–150000],120000.0,98000.0,150000.0,Africa

### Número de Personas vivas con VIH por país

In [41]:
vivos_con_virus_df = pd.read_csv('no_of_people_living_with_hiv_by_country_clean.csv')

In [42]:
vivos_con_virus_df.head()

,Country,Year,Count,Count_median,Count_min,Count_max,WHO Region
0,Afghanistan,2018,7200[4100–11000],7200.0,4100.0,11000.0,Eastern Mediterranean
1,Albania,2018,na,NaN,NaN,NaN,Europe
2,Algeria,2018,16000[15000–17000],16000.0,15000.0,17000.0,Africa
3,Angola,2018,330000[290000–390000],330000.0,290000.0,390000.0,Africa
4,Argentina,2018,140000[130000–150000],140000.0,130000.0,150000.0,Americas

In [44]:
vivos_con_virus_df.shape

(680, 7)

In [51]:
vivos_con_virus_df.isna().sum()

Country           0
Year              0
Count             0
Count_median    127
Count_min       127
Count_max       127
WHO Region        0
dtype: int64

In [47]:
vivosConVirus_copy = vivos_con_virus_df.replace(['na','Nodata','No data'],'NaN')
vivosConVirus_copy

,Country,Year,Count,Count_median,Count_min,Count_max,WHO Region
0,Afghanistan,2018,7200[4100–11000],7200.0,4100.0,11000.0,Eastern Mediterranean
1,Albania,2018,NaN,NaN,NaN,NaN,Europe
2,Algeria,2018,16000[15000–17000],16000.0,15000.0,17000.0,Africa
3,Angola,2018,330000[290000–390000],330000.0,290000.0,390000.0,Africa
4,Argentina,2018,140000[130000–150000],140000.0,130000.0,150000.0,Americas
...,...,...,...,...,...,...,...
675,Venezuela (Bolivarian Republic of),2000,NaN,NaN,NaN,NaN,Americas
676,Viet Nam,2000,120000[110000–130000],120000.0,110000.0,130000.0,Western Pacific
677,Yemen,2000,1100[680–2500],1100.0,680.0,2500.0,Eastern Mediterranean
678,Zambia,2000,890000[800000–1000000],890000.0,800000.0,1000000.0,Africa
679,Zimbabwe,2000,1600000[1400000–1900000],1600000.0,1400000.0,1900000.0,Africa

In [49]:
vivosConVirus_copy = vivosConVirus_copy.dropna().reset_index(drop=True)
vivosConVirus_copy

,Country,Year,Count,Count_median,Count_min,Count_max,WHO Region
0,Afghanistan,2018,7200[4100–11000],7200.0,4100.0,11000.0,Eastern Mediterranean
1,Algeria,2018,16000[15000–17000],16000.0,15000.0,17000.0,Africa
2,Angola,2018,330000[290000–390000],330000.0,290000.0,390000.0,Africa
3,Argentina,2018,140000[130000–150000],140000.0,130000.0,150000.0,Americas
4,Armenia,2018,3500[3000–4400],3500.0,3000.0,4400.0,Europe
...,...,...,...,...,...,...,...
548,Uzbekistan,2000,14000[13000–16000],14000.0,13000.0,16000.0,Europe
549,Viet Nam,2000,120000[110000–130000],120000.0,110000.0,130000.0,Western Pacific
550,Yemen,2000,1100[680–2500],1100.0,680.0,2500.0,Eastern Mediterranean
551,Zambia,2000,890000[800000–1000000],890000.0,800000.0,1000000.0,Africa
552,Zimbabwe,2000,1600000[1400000–1900000],1600000.0,1400000.0,1900000.0,Africa

In [52]:
vivosConVirus_copy.isna().sum()

Country         0
Year            0
Count           0
Count_median    0
Count_min       0
Count_max       0
WHO Region      0
dtype: int64

### Prevención de transmisión de madre a hijo

In [32]:
prevencion_df = pd.read_csv('prevention_of_mother_to_child_transmission_by_country_clean.csv')

In [34]:
prevencion_df.head()

,Country,Received Antiretrovirals,Needing antiretrovirals,Percentage Recieved,Needing antiretrovirals_median,Needing antiretrovirals_min,Needing antiretrovirals_max,Percentage Recieved_median,Percentage Recieved_min,Percentage Recieved_max,WHO Region
0,Afghanistan,20,200[100–500],11[7–18],200.0,100.0,500.0,11.0,7.0,18.0,Eastern Mediterranean
1,Albania,No data,Nodata,Nodata,NaN,NaN,NaN,NaN,NaN,NaN,Europe
2,Algeria,320,500[500–500],74[69–78],500.0,500.0,500.0,74.0,69.0,78.0,Africa
3,Angola,9600,25000[19000–32000],38[29–48],25000.0,19000.0,32000.0,38.0,29.0,48.0,Africa
4,Argentina,1800,1800[1600–2000],95[85–95],1800.0,1600.0,2000.0,95.0,85.0,95.0,Americas

In [36]:
prevencion_df.replace(['Nodata','No data'],'NaN')

,Country,Received Antiretrovirals,Needing antiretrovirals,Percentage Recieved,Needing antiretrovirals_median,Needing antiretrovirals_min,Needing antiretrovirals_max,Percentage Recieved_median,Percentage Recieved_min,Percentage Recieved_max,WHO Region
0,Afghanistan,20,200[100–500],11[7–18],200.0,100.0,500.0,11.0,7.0,18.0,Eastern Mediterranean
1,Albania,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Europe
2,Algeria,320,500[500–500],74[69–78],500.0,500.0,500.0,74.0,69.0,78.0,Africa
3,Angola,9600,25000[19000–32000],38[29–48],25000.0,19000.0,32000.0,38.0,29.0,48.0,Africa
4,Argentina,1800,1800[1600–2000],95[85–95],1800.0,1600.0,2000.0,95.0,85.0,95.0,Americas
...,...,...,...,...,...,...,...,...,...,...,...
165,Venezuela (Bolivarian Republic of),410,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Americas
166,Viet Nam,1900,2400[2000–2800],81[69–95],2400.0,2000.0,2800.0,81.0,69.0,95.0,Western Pacific
167,Yemen,30,500[200–500],13[8–20],500.0,200.0,500.0,13.0,8.0,20.0,Eastern Mediterranean
168,Zambia,56 500,48000[38000–57000],95[94–95],48000.0,38000.0,57000.0,95.0,94.0,95.0,Africa
169,Zimbabwe,59 600,63000[48000–76000],94[71–95],63000.0,48000.0,76000.0,94.0,71.0,95.0,Africa

In [38]:
prevencion_df.isna().sum()

Country                            0
Received Antiretrovirals           0
Needing antiretrovirals            0
Percentage Recieved                4
Needing antiretrovirals_median    70
Needing antiretrovirals_min       70
Needing antiretrovirals_max       70
Percentage Recieved_median        78
Percentage Recieved_min           78
Percentage Recieved_max           78
WHO Region                         0
dtype: int64

In [39]:
prev_copy = prevencion_df.copy().dropna().reset_index(drop=True)
prev_copy

,Country,Received Antiretrovirals,Needing antiretrovirals,Percentage Recieved,Needing antiretrovirals_median,Needing antiretrovirals_min,Needing antiretrovirals_max,Percentage Recieved_median,Percentage Recieved_min,Percentage Recieved_max,WHO Region
0,Afghanistan,20,200[100–500],11[7–18],200.0,100.0,500.0,11.0,7.0,18.0,Eastern Mediterranean
1,Algeria,320,500[500–500],74[69–78],500.0,500.0,500.0,74.0,69.0,78.0,Africa
2,Angola,9600,25000[19000–32000],38[29–48],25000.0,19000.0,32000.0,38.0,29.0,48.0,Africa
3,Argentina,1800,1800[1600–2000],95[85–95],1800.0,1600.0,2000.0,95.0,85.0,95.0,Americas
4,Bahamas,50,100[100–200],58[51–65],100.0,100.0,200.0,58.0,51.0,65.0,Americas
...,...,...,...,...,...,...,...,...,...,...,...
87,Uzbekistan,540,1500[1400–1600],35[33–38],1500.0,1400.0,1600.0,35.0,33.0,38.0,Europe
88,Viet Nam,1900,2400[2000–2800],81[69–95],2400.0,2000.0,2800.0,81.0,69.0,95.0,Western Pacific
89,Yemen,30,500[200–500],13[8–20],500.0,200.0,500.0,13.0,8.0,20.0,Eastern Mediterranean
90,Zambia,56 500,48000[38000–57000],95[94–95],48000.0,38000.0,57000.0,95.0,94.0,95.0,Africa
91,Zimbabwe,59 600,63000[48000–76000],94[71–95],63000.0,48000.0,76000.0,94.0,71.0,95.0,Africa